<!DOCTYPE html>
<html>
<head>
	<title>Vote Varrgrant for Vagrant!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

	<h1><a href="https://github.com/ptahdunbar/Vote-Varrgrant-for-Vagrant">Vote Varrgrant for Vagrant!</a></h1>
	<img src="pirate.gif" alt="" width="800" />
	<h2>Yay!</h2>

</body>
</html>